@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using eshop.Application.Services.Sellers.Seller
@model EndPoint.Site.Views.Sellers.Register_rzpModel
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="basic-elements">
    <div class="row">
        <div class="col-sm-12">
            <h1 class="content-header"> ثبت نام فروشنده</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-title-wrap bar-success">
                        <h5 class="card-title mb-0">اطلاعات فروشنده </h5>
                    </div>
                </div>
                <div class="card-body">
                    <div class="px-3">
                        <div class="form-body">
                            <div class="row">
                                <div class="col-xl-4 col-lg-6 col-md-12 mb-1">
                                    <fieldset class="form-group">
                                        <label for="basicInput">نام و نام خانوادگی</label>
                                        <input type="text" class="form-control" id="fullname">
                                    </fieldset>
                                </div>
                                <div class="col-xl-4 col-lg-6 col-md-12 mb-1">
                                    <fieldset class="form-group">
                                        <label for="helpInputTop">نام فروشگاه</label>
                                        <input type="text" class="form-control" id="ShopName">
                                    </fieldset>
                                </div>
                                <div class="col-xl-4 col-lg-6 col-md-12 mb-1">
                                    <fieldset class="form-group">
                                        <label for="helpInputTop">تلفن همراه</label>
                                        <input type="text" class="form-control" id="Mobile">
                                    </fieldset>
                                </div>
                                @*<div class="col-xl-4 col-lg-6 col-md-12 mb-1">
                                        <fieldset class="form-group">
                                            <label for="helpInputTop"> تلفن ثابت</label>
                                            <input type="text" class="form-control" id="Phone">
                                        </fieldset>
                                    </div>*@


                                @*<div class="col-xl-4 col-lg-6 col-md-12 mb-1">
                                        <fieldset class="form-group">
                                            <label for="basicSelect">استان</label>
                                            <select class="form-control" id="Province" name="Province" asp-items="@ViewBag.Provinces"
                                                    onchange="Selectcity()">
                                                <option>انتخاب کنید...</option>

                                            </select>
                                            <p><small class="text-muted">استان مورد نظر را تعیین کنید</small></p>

                                        </fieldset>
                                    </div>
                                    <div class="col-xl-4 col-lg-6 col-md-12 mb-1">
                                        <fieldset class="form-group">
                                            <label for="basicSelect">شهر</label>
                                            <select class="form-control" id="City" name="City" asp-items="@ViewBag.Cities">
                                                <option>انتخاب کنید...</option>
                                            </select>
                                            <p><small class="text-muted">شهر مورد نظر را تعیین کنید</small></p>

                                        </fieldset>
                                    </div>*@
                                @*<div class="col-xl-4 col-lg-6 col-md-12 mb-1">
                                        <fieldset class="form-group">
                                            <label for="helpInputTop">آدرس</label>
                                            <input type="text" class="form-control" id="Addrress">
                                        </fieldset>
                                    </div>*@


                                <div class="col-xl-4 col-lg-6 col-md-12 mb-1">
                                    <fieldset class="form-group">
                                        <label for="basicSelect">دسته بندی فعالیت</label>
                                        <select class="form-control" id="Category" asp-items="@ViewBag.Categories"
                                                onchange="GetSubcategories()">
                                            <option>انتخاب کنید...</option>

                                        </select>
                                        @*<p><small class="text-muted">دسته بندی فعالیت را تعیین کنید</small></p>*@

                                    </fieldset>
                                </div>

                                @*<div class="col-xl-4 col-lg-6 col-md-12 mb-1">
                                        <fieldset class="form-group">
                                            <label for="basicInput"> دسته بندی سطح 2 </label>

                                            <select class="form-control" id="SubCategory">
                                                <option>انتخاب کنید...</option>
                                                @if (subcat.Count > 0)
                                                {

                                                @foreach (var item in subcat.Select(s => s).ToList())
                                                {
                                                    <option value="=@item.SubId">@item.SubName</option>
                                                }
                                                }
                                            </select>
                                        </fieldset>
                                    </div>*@
                                <div class="col-xl-4 col-lg-6 col-md-12 mb-1">
                                    <fieldset class="form-group">
                                        <label for="helpInputTop">نام کاربری</label>
                                        <small class="text-muted"><i>منحصر بفرد</i></small>

                                        <input type="text" class="form-control" id="UserName">
                                    </fieldset>
                                </div>
                                <div class="col-xl-4 col-lg-6 col-md-12 mb-1">
                                    <fieldset class="form-group">
                                        <label for="disabledInput">رمز عبور</label>
                                        <input type="password" class="form-control" id="Password">
                                    </fieldset>
                                </div>
                                <div class="col-xl-4 col-lg-6 col-md-12 mb-1">
                                    <fieldset class="form-group">
                                        <label for="disabledInput">تکرار رمز عبور</label>
                                        <input type="password" class="form-control" id="RePassword">
                                    </fieldset>
                                </div>
                                <div class="col-xl-12 col-lg-12 col-md-12 mb-1">
                                    <fieldset class="form-group">
                                        <br />
                                        <a onclick="RegisterSeller()" class="btn btn-success col-md-12">تکمیل ثبت نام </a>

                                    </fieldset>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</section>
<link href="~/Sweetalert2/sweetalert2.min.css" rel="stylesheet" />
<script src="~/Sweetalert2/sweetalert2.min.js"></script>


<script>
        function GetSubcategories() {
            var catId = $('#Category').find('option:selected').val();
            postData = { 'catId': catId};
            var sub = $('#SubCategory');
            for (var i = 1; i < sub.length; i++) {
                    sub.remove(i);
            }

            $.ajax({
                contentType: 'application/x-www-form-urlencoded',
                dataType: 'json',
                type: "GET",
                url: "Register",
                data: postData,
                success: function (data) { }

            });


            @*var option = new Option(@subcat[0].SubName, @subcat[0].SubId);
            $('#SubCategory').append($(option));*@

            @*for (i = 0; i <@subcat.Count; i++) {
                $('#SubCategory').append($('<option>', {
                    value: @subcat[0].SubId,
                    text: @subcat[0].SubName,
                } ));*@
            ////}
       }

        //@*function GetSubcategories() {
        //    var catId = $('#Category').find('option:selected').val();
        //    if (document.URL.includes('PrcId')) {
        //        window.location.href = document.URL + '&catId=' + catId;
        //    }
        //    else {
        //    window.location.href = '@Url.Action("register", "sellers")?catId=' + catId;
        //    }
        //}*@

        function Selectcity() {
            var PrcId = $('#Province').find('option:selected').val();
            if (document.URL.includes('catId')) {
                window.location.href = document.URL + '&PrcId=' + PrcId;
            }
            else {
                window.location.href = '@Url.Action("Register","Sellers")?PrcId=' + PrcId;

            }
        }

</script>-->

<script>
    function RegisterSeller() {
        var fullname = $('#fullname').val();
        var ShopName = $('#ShopName').val();
        var Mobile = $('#Mobile').val();
        //var Phone = $('#Phone').val();
        //var Province = $('#Province').find('option:selected').val();
        //var City = $('#City').find('option:selected').val();
        //var Addrress = $('#Addrress').val();
        //var SellerType = $('#SellerType').find('option:selected').val();
        var Category = $('#Category').find('option:selected').val();
        var UserName = $('#UserName').val();
        var Password = $('#Password').val();
        var RePassword = $('#RePassword').val();



        var postData = {
            //'SellerType1': SellerType,
            'fullname': fullname,
            'ShopName': ShopName,
            'Mobile': Mobile,
            //'Phone': Phone,
            //'Province': Province,
            //'City': City,
            //'Addrress': Addrress,
            //'SellerType': SellerType,
            'Category': Category,
            'UserName': UserName,
            'Password': Password,
            'RePassword': RePassword,
        };

        $.ajax({
            contentType: 'application/x-www-form-urlencoded',
            dataType: 'json',
            type: "POST",
            url: "Register",
            data: postData,
            success: function (data) {
                if (data.isSuccess == true) {
                    swal.fire(
                        'موفق!',
                        data.message,
                        'success'
                    ).then(function (isConfirm) {
                        window.location.replace("/");
                    });
                }
                else {

                    swal.fire(
                        'هشدار!',
                        data.message,
                        'warning'
                    );
                }
            },
            error: function (request, status, error) {
                swal.fire(
                    'هشدار!',
                    request.responseText,
                    'warning'
                );
            }
        });
    }
</script>
